{% extends "baselinecore/admin_base.html" %}
{% load wagtailimages_tags i18n %}

{% block titletag %}{% trans "Themes" %}{% endblock %}
{% block extra_js %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% trans "Themes" as im_str %}
    {% include "wagtailadmin/shared/header.html" with title=im_str add_link="baseline-theme-install" icon="edit" add_text="Add Theme" %}

    <div class="nice-padding">
        <div id="theme-results">
            <h2>Installed Themes</h2>
            <ul class="listing horiz images">
            {% for theme in installed_themes %}
                <li>
                    <a class="theme-choice{% if theme.package == active_theme %} active{% endif %}"
                       href="{% url 'baseline-theme-activate'%}?theme={{ theme.package }}">
                        <div class="image">
                            <img src="{% url 'baseline-theme-thumb' %}?theme={{ theme.package }}">
                        </div>
                        <h3>{{ theme.meta.title }}</h3>
                        <p>{{ theme.meta.description }}</p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock %}
