{% extends "baselinecore/blog_base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-blogpage{% endblock %}

{% if self.primary_image %}
    {% block lead_image %}{% image self.primary_image width-1920 as primary_image %}{{ primary_image.url }}{% endblock %}
{% endif %}
{% block post_time %}<span class="meta">Posted by <a href="#">Baseline</a> on {{ self.datetime }}</span>{% endblock %}

{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ self.body|safe }}
                </div>
            </div>
        </div>
    </article>

{% endblock %}
